<app-navbar></app-navbar>
<br>
<h2><b>¿Quienes somos?</b></h2>
<div>
    <p>Somos un portal de videojuegos donde puedes obtener toda la información oficial de tus juegos favoritos o los juegos más importantes que se encuentren en tendencia en este mercado.</p>
</div><br>
<h2><b>¿Cómo funciona nuestra aplicación?</b></h2>
<div>
    <p>Tenemos un sistema establecido sencillo que antes deberás de comprender. A continuación te detallamos los pasos de funcionamiento que deberás de seguir:</p>
    <ol>
        <li>Registro previo en nuestro portal.</li>
        <li>Busca el juego de interés haciendo click en el botón "Acceder".</li>
        <li>Una vez dentro del juego, tendrás toda la información oficial de ese juego. Así como las opiniones y valoraciones de los usuarios que lo han podido jugar.</li>
        <li>En caso de que hayas jugado al juego, podrás dejar una valoración y comentarios que serán útiles a otros usuarios que estén interesados en el título.</li>
        <li>Luego podrás acceder al portal a través de la opción "Mis valoraciones" y así poder visualizar todos los comentarios que has aportado en la comunidad.</li>
        <li>Este juego se almacenará en la biblioteca de tu perfil.</li>
    </ol>

</div>
<h2><b>¿Es una plataforma de confianza?</b></h2>
<div>
<p>Esta es una de las preguntas que muchos nos hacemos. Te podemos confirmar que contamos con toda la seguridad implementada con el objetivo de poder ofrecerte una navegabilidad y confiabilidad. Te quedarás gratamente sorprendido al darte cuenta que ésta es una plataforma muy segura.
    
Además, poseemos una buena reputación entre sus usuarios, somos aquella aplicación que todo el mundo quiere utilizar. </p>
</div>

<h2><b>¿Qué juegos puedo conseguir?</b></h2>
<div>
<p>En el catálogo de este portal puedes ver tener acceso a más de 100 juegos disponibles.
Encuentra los principales juegos del mercado: Gran Turismo 7, The last of Us, Bloodborne, Final Fantasy XV, GTA V, Overwatch, Smite... etc entre otros que son los más populares. Puedes encontrar también juegos disponibles con menos demanda como the binding of Isaac undertale, Super meat boy y otros.</p>
</div>

<h2><b>¿Cómo crear una cuenta?</b></h2>
<div>
<p>Para crear una cuenta en instant gaming debes acceder a la plataforma,  luego das click en “mi cuenta” y desde allí puedes crear tu cuenta propia.

    También puedes acceder desde tus redes sociales como Facebook o desde Google; la suscripción es totalmente gratuita.</p>

    <br><br>
Y aquí termina nuestro artículo, si te ha gustado no dudes en compartirlo en tus redes sociales.






