*{
  font-family: 'Assistant',sans-serif;
  font-style:normal;
  color:black;
}
.login{
  display: flex;
  flex-direction: column;
}

.subtitulo{
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;

    min-width: 300px;
    max-width: 60%;
    margin: 1.5rem;
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem 3rem;
    border-radius: 2.5rem;
    background-color: #f5fbff;
    box-shadow: 13px 13px 20px #e9edf1, -13px -13px 20px #ffffff;
    color: black;
  }
 input {
    display: flex;
    margin: 1rem 0;

    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
    rgba(0, 0, 0, 0.1);
    border: 0 none;
    background: #f6f2f2aa;
  }
  