<div class="login">
  <h2>Usuarios</h2>
  <p class="subtitulo">Estos son los usuarios disponibles y sus contraseñas:</p>
  <ul *ngFor="let user of users">
    <li>Usuario: {{user.email}}</li>
    <li>Pass: {{user.password}}</li>
  </ul>
  <form>
    <input type="email" name="email" placeholder="Email" [(ngModel)] ="email">
    <input type="password" name="password" placeholder="Contraseña" [(ngModel)] ="password">
    <button class="btn" type="submit" (click)="login()"> Iniciar Sesión</button>
  </form>
</div>