/****Estilos propios del componente login****/
*{
  font-family: 'Assistant',sans-serif;
  font-style:normal;
  color:black;
}
.login{
  display: flex;
  flex-direction: column;
}
.login-form{

}
.subtitulo{
  font-style: italic;
}

.error{
  color: crimson; 
  margin-bottom: 8px;
}
  