
.videojuegos{
  display: flex;
  flex-direction: column;
}
.nuevo-videojuego{
  padding: 8px;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  background:linear-gradient(0deg, rgba(15, 77, 121, 0.1), rgba(15, 77, 121, 0.1)), #F2FFFF;
  border-radius:245px;
  padding: 16px;
}
.botones{
  display: flex;
  flex-direction: column;
  gap:8px
}
li{
  font-size: 1rem;
  border-radius: 1px;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  color: #002428;
  text-align: left;
  width: 100%;
  min-width: 70px;
  box-sizing: border-box;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (max-width: 650px) {
  ul{
    
  flex-wrap: wrap;
  }
  li {
    width: 80%;
    box-sizing: content-box;
    font-size: 100%;
  }
 .botones{
    width: 60%;
  }
}



/* .videojuegos {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }
  
  .videojuegos li {
    position: relative;
    cursor: pointer;
  }
  
  .videojuegos li:hover {
    left: .1em;
  }
  
  .videojuegos a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .videojuegos a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
  }
  
  .videojuegos a:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .videojuegos .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .add-button {
   padding: .5rem 1.5rem;
   font-size: 1rem;
   margin-bottom: 2rem;
  }
  
  .add-button:hover {
    color: white;
    background-color: #42545C;
  }
  
  button.delete {
    position: absolute;
    left: 210px;
    top: 5px;
    background-color: white;
    color:  #525252;
    font-size: 1.1rem;
    margin: 0;
    padding: 1px 10px 3px 10px;
  }
  
  button.delete:hover {
    background-color: #525252;
    color: white;
   } */