<app-navbar></app-navbar>
<app-mensajes></app-mensajes>
<ul class="container" *ngIf="videojuego">

    <ul class="detalles">
      <li>Detalles de {{videojuego.titulo | uppercase}} </li>
        <li>
          <span>id: </span>{{videojuego.id}}
        </li>
        <li>
          <span>Título: </span>{{videojuego.titulo}}
        </li>
        <li>
          <span>Compañía: </span>{{videojuego.company}}
        </li>
        <li>
          <span>Valoración media: </span>{{videojuego.notaMedia}}
        </li>
    </ul>
    <li>
      <div class="cont-img">
        <img src="{{videojuego.imagen}}" alt="imagen de {{videojuego.titulo}}">
      </div>
    </li>
</ul>

