<div *ngIf="videojuego">
    <h2>Detalles de {{videojuego.titulo | uppercase}} </h2>
    <div>
      <span>id: </span>{{videojuego.id}}
    </div>
    <div>
      <span>Título: </span>{{videojuego.titulo}}
    </div>
    <div>
      <span>Compañía: </span>{{videojuego.company}}
    </div>
    <div>
      <span>Valoración media: </span>{{videojuego.notaMedia}}
    </div>
    <div>
      <span>Foto: </span>
      <img src="{{videojuego.imagen}}" alt="imagen de {{videojuego.titulo}}">
    </div>
</div>
    

  <!-- <div *ngIf="videojuego">
    <h2>{{videojuego.titulo | uppercase}} Detalles</h2>
    <div>
      <span>id: </span>{{videojuego.id}}
    </div>
    <div>
      <label for="videojuego-titulo">Titulo: </label>
      <input id="videojuego-titulo" [(ngModel)]="videojuego.titulo" placeholder="Título del videojuego"/>
    </div> -->