<app-navbar></app-navbar>
<app-mensajes></app-mensajes>
<ul class="container" *ngIf="videojuego">

    <ul class="detalles">
      <li>
        <span class="imp">Detalles de </span>
        <span class="titulo">{{videojuego.titulo | uppercase}}</span> 
      </li>
        <li>
          <span class="imp">ID:</span>{{videojuego.id}}
        </li>
        <li>
          <span class="imp">Título: </span>{{videojuego.titulo}}
        </li>
        <li>
          <span class="imp">Compañía: </span>{{videojuego.company}}
        </li>
        <li>
          <span class="imp">Valoración media: </span>{{videojuego.notaMedia}}
        </li>
        <li>
          <button class="btn" routerLink="/videojuegos">Volver atrás</button>
        </li>
    </ul>
    <li class="cont-img">
        <img src="{{videojuego.imagen}}" alt="imagen de {{videojuego.titulo}}">
    </li>
</ul>


